<ul class="flex items-center justify-between bg-blue-500 p-4">
    <li class="text-white text-lg font-bold" onclick="window.location.href='/'">Classroom Clone</li>
    <li class="flex justify-end space-x-4">
        <a href="/settings" class="text-white hover:text-gray-200">Settings</a>
        <a href="/dashboard" class="text-white hover:text-gray-200">Dashboard</a>
        <a href onclick='document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";' class="text-white hover:text-gray-200">Sign Out</a>
    </li>
</ul>