<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<script src="/js/alpine.min.js" defer></script>
<script src="/js/tailwind.min.js"></script>